body{
display: flex;
justify-content: space-around; 
}
.card {
    background: #060606;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width:420px;
    margin:1em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn2 {
    width: 120px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border: none;
    background-color: #007BFF; /* Set your desired background color */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for rounded corners if you like */
}

.btn2:hover {
    background-color: #0056b3; /* Change color on hover */
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width:calc(100% - 80px);
}
.city{
    text-align: center;
}
button:hover {
    background: #7c7c7c2b;
}



h1.temp{
    margin:0;
    text-align: center;

}
.description {
    text-transform: capitalize;
    text-align: center;
}
.flex{
    align-items: center;
   
    text-align: center;
}
.humidity{
    text-align: center;
}
.wind{
    text-align: center;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: absolute;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading .......";
    color: white;
    position: relative;
    top: 0;
}